<header class="site-header">
  <div class="header-inner">
    <a class="brand" href="{{ '/' | relative_url }}">
      {% if site.logo and site.logo != "" %}
        <img src="{{ site.logo | relative_url }}" alt="{{ site.short_name }}" />
      {% else %}
        <span class="brand-text">{{ site.short_name }}</span>
      {% endif %}
    </a>

    <nav class="nav-right">
      {% if site.nav_links and site.nav_links.size > 0 %}
        {% for n in site.nav_links %}
          {% if n.url and n.url != "" %}
            <a class="nav-link" href="{{ n.url }}">{{ n.text }}</a>
          {% endif %}
        {% endfor %}
      {% elsif site.nav_link and site.nav_link.url and site.nav_link.url != "" %}
        <a class="nav-link" href="{{ site.nav_link.url }}">{{ site.nav_link.text }}</a>
      {% endif %}

    </nav>
  </div>
</header>
