<header class="site-header">
  <div class="header-inner">
    <a class="brand" href="{{ '/' | relative_url }}">
      {% if site.logo and site.logo != "" %}
        <img src="{{ site.logo | relative_url }}" alt="{{ site.short_name }}" />
      {% else %}
        <span class="brand-text">{{ site.short_name }}</span>
      {% endif %}
    </a>

<div class="nav-right">
  <a href="#schedule" class="nav-link">
    {{ site.data.schedule.heading | default: "Schedule" }}
  </a>

  <a href="#keynote" class="nav-link">
    {{ site.data.keynotes.heading | default: "Keynote" }}
  </a>

  <a href="#location" class="nav-link">
    {{ site.data.location.heading | default: "Location" }}
  </a>

  {% if site.data.rsvp.enabled %}
    <a href="{{ site.data.rsvp.form_url }}" class="nav-link">
      {{ site.data.rsvp.form_label | default: "RSVP" }}
    </a>
  {% endif %}
</div>
  </div>
</header>
